<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Link CSS -->

	<link rel="stylesheet" href="./css/style.css">

<!-- Link Fonts -->

	<link href="https://fonts.googleapis.com/css?family=Cookie|Montserrat:400,700|Roboto+Slab|Vollkorn:400i&amp;subset=cyrillic-ext" rel="stylesheet">

</head>
<body>
	<h1 class="invisible">Dremuchev Studio</h1>

<!-- Header -->

	<header>
		<div class="logo"><p class="logo-text"><a href="#" class="logo-anchor">Golden</a></p></div>
		<nav class="menu-box">
			<ul class="menu">
				<li class="menu-item"><a href="#first-block">Home</a></li>
				<li class="menu-item"><a href="#second-block">Services</a></li>
				<li class="menu-item"><a href="#third-block">Portfolio</a></li>
				<li class="menu-item"><a href="#fourth-block">About</a></li>
				<li class="menu-item"><a href="#fives-block">Contact</a></li>
			</ul>
		</nav>
	</header>

<!-- Home -->

	<section id="first-block" class="home">
		<div class="wrap">

			<!-- Home Title -->

			<h2 class="home-title">Welcome to our studio!</h2>
			<p class="home-desc">It's nice to meet you</p>
			<a href="#" class="home-button">tell me more</a>
		</div>
	</section>

<!-- Services -->

	<section id="second-block" class="services">
		<div class="wrap">

			<!-- Services Title -->

				<h2 class="main-title">services</h2>
				<p class="main-subtitle">Proin iaculis purus consequat sem cure. </p>
			
			<!-- Services Features -->

			<article class="feature">
				<div class="feature-pic-ecommerce"></div>
				<h3 class="feature-title">E-Commerce</h3>
				<p class="feature-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
			</article>

			<article class="feature">
				<div class="feature-pic-responsive"></div>
				<h3 class="feature-title">Responsive Web</h3>
				<p class="feature-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
			</article>

			<article class="feature">
				<div class="feature-pic-security"></div>
				<h3 class="feature-title">Web-Security</h3>
				<p class="feature-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
			</article>
		</div>		
	</section>

<!-- Portfolio -->

	<section id="third-block" class="portfolio">
		<div class="wrap">

			<!-- Protfolio Title -->

			<h2 class="main-title">Our portfolio</h2>
			<p class="main-subtitle">Proin iaculis purus consequat sem cure.</p>

			<!-- Our Projects -->

			<div class="portfolio-projects">
				<a href="#">
					<article class="portfolio-projects-item">
						<div class="project-pic-1"></div>
						<h3 class="project-title">Ebony &#38; Ivory</h3>
						<p class="project-desc">Branding</p>
						<div class="project-hover-desc">
							<p class="project-hover-title">Ebony &#38; Ivory</p>
						</div>
					</article>
				</a>

				<a href="#">
					<article class="portfolio-projects-item">
						<div class="project-pic-2"></div>	
						<h3 class="project-title">Smart Stationary</h3>
						<p class="project-desc">Print Design</p>
						<div class="project-hover-desc">
							<p class="project-hover-title">Smart Stationary</p>
						</div>
					</article>
				</a>

				<a href="#">
					<article class="portfolio-projects-item">
						<div class="project-pic-3"></div>
						<h3 class="project-title">Clever Poster</h3>
						<p class="project-desc">Print Design</p>
						<div class="project-hover-desc">
							<p class="project-hover-title">Clever Poster</p>
						</div>
					</article>
				</a>

				<a href="#">
					<article class="portfolio-projects-item">
						<div class="project-pic-4"></div>
						<h3 class="project-title">Vynyl Record</h3>
						<p class="project-desc">Product Mock-Up</p>
						<div class="project-hover-desc">
							<p class="project-hover-title">Vynyl Record</p>
						</div>
					</article>
				</a>

				<a href="#">
					<article class="portfolio-projects-item">
						<div class="project-pic-5"></div>
						<h3 class="project-title">Treehouse Template</h3>
						<p class="project-desc">Web Design</p>
						<div class="project-hover-desc">
							<p class="project-hover-title">Treehouse Template</p>
						</div>
					</article>
				</a>

				<a href="#">
					<article class="portfolio-projects-item">
						<div class="project-pic-6"></div>
						<h3 class="project-title">Burned Logo</h3>
						<p class="project-desc">Branding</p>
						<div class="project-hover-desc">
							<p class="project-hover-title">Burned Logo</p>
						</div>
					</article>
				</a>

			</div>
		</div>
	</section>

<!-- About Us -->

	<section id="fourth-block" class="about-us">
		<div class="wrap">

			<!-- About Us Title -->
			
			<h2 class="main-title">About us</h2>
			<p class="main-subtitle">Proin iaculis purus consequat sem cure.</p>

			<!-- Our History -->

			<div class="box-history">
				<article class="box-history-step">
					<div class="history-pic-1"></div>
					<div class="history-info-left">
						<h3 class="history-title">July 2010</h3>
						<p class="history-subtitle">Our humble beginnings</p>
						<div class="history-text">
							<p>Proin iaculis purus consequat sem cure</p>
							<p>digni ssim. Donec porttitora entum suscipit</p>
							<p>aenean rhoncus posuere odio in tincidunt. Proin</p> 
							<p>iaculis purus consequat sem cure digni</p>
							<p>ssim. Donec porttitora entum suscipit.</p>
						</div>
					</div>
				</article>

				<article class="box-history-step">
					<div class="history-pic-2"></div>
					<div class="history-info-right">
						<h3 class="history-title">January 2011</h3>
						<p class="history-subtitle">Facing startup battles</p>
						<div class="history-text">
							<p>Proin iaculis purus consequat sem cure</p>
							<p>digni ssim. Donec porttitora entum suscipit</p>
							<p>aenean rhoncus posuere odio in tincidunt. Proin</p>
							<p>iaculis purus consequat sem cure digni</p>
							<p>ssim. Donec porttitora entum suscipit aenean</p>
							<p>rhoncus posuere odio in tincidunt.</p>
						</div>
					</div>
				</article>

				<article class="box-history-step">
					<div class="history-pic-3"></div>
					<div class="history-info-left">
						<h3 class="history-title">December 2012</h3>
						<p class="history-subtitle">Enter the dark days</p>
						<div class="history-text">
							<p>Proin iaculis purus consequat sem cure</p>
							<p>digni ssim. Donec porttitora entum suscipit</p>
							<p>aenean rhoncus posuere odio in tincidunt. Proin</p>
							<p>iaculis purus consequat sem cure digni.</p>
						</div>
					</div>
				</article>

				<article class="box-history-step">
					<div class="history-pic-4"></div>
					<div class="history-info-right">
						<h3 class="history-title">February 2014</h3>
						<p class="history-subtitle">Our triumph</p>
						<div class="history-text">
							<p>Proin iaculis purus consequat sem cure</p>
							<p>digni ssim. Donec porttitora entum suscipit</p>
							<p>aenean rhoncus posuere odio in tincidunt. Proin</p>
							<p>iaculis purus consequat sem cure digni</p>
							<p>ssim. Donec porttitora entum suscipit aenean.</p>
						</div>
					</div>
				</article>

				<article class="box-history-step">
					<div class="history-pic-5">
						<p class="history-pic-5-text">our</p>
						<p class="history-pic-5-text">story</p>
						<p class="history-pic-5-text">continues</p>
						<p class="history-pic-5-text">…</p>
					</div>			
				</article>

			</div>
		</div>
	</section>

<!-- Our Amazing Team -->

	<section class="team">
		<div class="wrap">

			<!-- Team Title -->

			<h2 class="team-title">Our amazing team</h2>
			<p class="team-subtitle">Proin iaculis purus consequat sem cure.</p>

			<!-- Team -->

			<div class="team-box">

				<article class="team-item">
					<div class="team-pic"></div>
					<div class="team-info">
						<h3 class="team-info-name">Andrey Dremuchev</h3>
						<p class="team-desc">Front-end Web Developer</p>
					</div>
					<div class="team-available">
						<a target="_blank" href="https://twitter.com/forever_adre" class="team-twitter"></a>
						<a target="_blank" href="https://www.facebook.com/andrey.dremuchev" class="team-facebook"></a>
						<a target="_blank" href="https://plus.google.com/+АндрейДремучев" class="team-google"></a>
					</div>
				</article>

			<p class="team-text">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
			</div>
		</div>
	</section>

<!-- Partners -->

	<section class="partners">
		<a href="#" id="envato"><img src="./img/envato-partner-min.jpg" alt="envato"></a>
		<a href="#" id="wordpress"><img src="./img/wordpress-partner-min.jpg" alt="wordpress"></a>
		<a href="#" id="tuts"><img src="./img/tuts-min.jpg" alt="tuts"></a>
		<a href="#" id="microlancer"><img src="./img/microlancer-partner-min.jpg" alt="microlancer"></a>
	</section>

<!-- Contact us -->

	<section id="fives-block" class="contacts">
		<div class="wrap">

			<!-- Contacts Title -->

			<h3 class="contacts-title">Contact us</h3>
			<p class="contacts-subtitle">Proin iaculis purus consequat sem cure.</p>

			<!-- Contacts Form -->
			
			<form action="#" class="feedback">
				<textarea type="text" placeholder="Your message &#42;" class="message"></textarea>
				<input type="text" placeholder="Your name &#42;" class="name">
				<input type="text" placeholder="Your e-mail &#42;" class="email">
				<input type="text" placeholder="Subject" class="subject">
				<input type="submit" value="Send message" class="send">
			</form>
		</div>
	</section>

	<img id="totop" class="to-down" src="./img/up.png" alt="Наверх">

<!-- Footer -->

	<footer>
		<div class="footer-box">
			<div class="copyright"><p>© Copyright 2014 FreebiesXpress.com</p></div>
			<div class="available">
				<a href="#" class="twitter"></a>
				<a href="#" class="fb"></a>
				<a href="#" class="pinterest"></a>
				<a href="#" class="google"></a>
			</div>
		</div>
	</footer>
	<script src="js/inex.js"></script>
</body>
</html>